.container-event{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 95%;
    padding-bottom: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-event{
    display: flex;
    justify-content: center;
    gap: 2%;
    font-size: small;
    margin-bottom: 1%;
}